@charset "UTF-8";


:root {
    --cpadrao: #A16A18;
    --cheader: #A18B18;
    --cescuro: #59440D;
    --cbutton: #866122;
    --fdestaque: 'Saira Semi Condensed', 'Bebas Neue', sans-serif;
    --cordefundo: white;
    --mpesquisah: 5vmin;
    --tescuro: #1C2626;
}

body {
    background-color: var(--tescuro);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    width: 20%;
    min-height: 100vh;
    background-color: #342626;
}

ul {
    list-style-type: none;
    margin: 5%;
    display: grid;
    row-gap: 10%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

li p {
    font-family: var(--fdestaque);
    font-size: larger;
    text-align: center;
    padding: 5%;
    padding-right: 20%;
    width: 100%;
    height: 10%;
    border-radius: 5%;
    margin: 1px;
    background-color: var(--cbutton);
}
