
header{

  background-color: var(--cheader);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  
     
  }
  .conjunto-logo{
    display: flex;
    align-items: center;
  }
  .dps-logado{
    display: flex;
    align-items: center;
  }
  .header{
      top: 0; 
   z-index: 1000;
  
  position: sticky;
  }
.map{
   border: 5px solid black;
   overflow: hidden;
}
.map{
  width: 100%;
  align-items: center;
}

.map iframe{
    width: 100%;
    height: 50vh;
    align-items: center;
}
.imagem_p{
  
  width: 100%;
height: auto;


 /* aspect-ratio: 16/9; Mantém a proporção das imagens */
  object-fit: cover;

 
}
.imagem_pd{
  overflow: hidden;
  
  border: 2px solid black;
 width: 300px;
 height: 300px;
left: 60%;
 
}
.slider {
  width: 50%;
  height: 60%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
}

.slides {
  display: flex;
  transition: margin-left 0.5s ease;
  width: 100%;
}
.slides input {
  display: none;
}
.slide {
  min-width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.5s ease;
  cursor: grab;
}

.slides:active {
  cursor: grabbing;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* CSS PARA NAvegação manual */

      .navega-mano {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: center;
          bottom: 10px;
      }

      .manual-btn {
          border: 2px solid #000000;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: background 0.3s;
      }

      .manual-btn:not(:last-child) {
          margin-right: 5%;
      }

      .manual-btn:hover {
          background: #000000;
      }

